[apache]
${apache_ip}

[nodejs]
${nodejs_ip}

[drupal]
${drupal_ip}

[solr]
${solr_ip}

[multi:children]
apache
nodejs
drupal
solr

[multi:vars]
ansible_user=nartykaly
ansible_port=22
ansible_python_interpreter=/usr/bin/python3
