[lamp_varnish]
${varnish_ip}

[lamp_www]
${www1_ip}
${www2_ip}

[a4d.lamp.db.1]
${db1_ip}

[lamp_db]
${db1_ip} mysql_replication_role=master
${db2_ip} mysql_replication_role=slave

[lamp_memcached]
${memcached_ip}

[multi:children]
lamp_varnish
lamp_www
lamp_db
lamp_memcached

[multi:vars]
ansible_user=nartykaly
ansible_port=22
ansible_python_interpreter=/usr/bin/python
